{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Remaz Pharm - Principal</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
</head>
<body>

<header class="topo-dashboard">
    <div class="logo-topo">
        <a href="{% url 'dashboard' %}">
            <img src="{% static 'img/logo/logo.png' %}" alt="Logo">
        </a>
    </div>

    <div class="busca-topo">
        <input type="text" placeholder="Pesquisa">
        <span class="icone-busca">⌕</span>
    </div>

    <div class="usuario-topo">
        <div class="perfil-container">
            <button class="perfil-icon" id="perfil-btn" type="button">
                <div class="avatar"></div>
            </button>

            <div class="perfil-name">{{ display_name }}</div>

            <div class="menu-dropdown" id="menu-dropdown">
                <a href="#">Configurações</a>
                <a href="{% url 'perfil' %}">Perfil</a>
                <a href="{% url 'pagamento' %}">Pagamento</a>
                <a href="#">Pedidos</a>
                <a href="{% url 'ajuda' %}">Ajuda</a>
                <a href="{% url 'logout' %}">Sair</a>
            </div>
        </div>
    </div>
</header>

<main class="dashboard-wrapper">

    <!-- ÍCONES -->
    <section class="categorias-home">

        <div class="categoria-item">
            <div class="categoria-icon">
                <i class="fa-solid fa-pills"></i>
            </div>
            <span>Medicamentos</span>
        </div>

        <div class="categoria-item">
            <div class="categoria-icon">
                <i class="fa-solid fa-pump-soap"></i>
            </div>
            <span>Higiene Pessoal</span>
        </div>

        <div class="categoria-item">
            <div class="categoria-icon">
                <i class="fa-solid fa-baby"></i>
            </div>
            <span>Baby</span>
        </div>

        <div class="categoria-item">
            <div class="categoria-icon">
                <i class="fa-solid fa-heart"></i>
            </div>
            <span>Beleza</span>
        </div>

        <div class="categoria-item">
            <div class="categoria-icon">
                <i class="fa-solid fa-tags"></i>
            </div>
            <span>Ofertas</span>
        </div>

        <div class="categoria-item">
            <div class="categoria-icon">
                <i class="fa-solid fa-shop"></i>
            </div>
            <span>Farmácias</span>
        </div>

    </section>

    <!-- BANNER -->
    <section class="banner-area">

        <div class="banner-slider">

            <img src="{% static 'img/dashboard/banner1.png' %}" class="banner ativo">

            <img src="{% static 'img/dashboard/banner2.png' %}" class="banner">

            <img src="{% static 'img/dashboard/banner3.png' %}" class="banner">

        </div>

    </section>

    <!-- PRODUTOS -->
    <section class="conteudo-principal">

        <div class="categoria-header">
            <h2>Categoria</h2>

            <div class="setas-categoria">
                <button class="scroll-btn" id="scroll-left">
                    <i class="fa-solid fa-chevron-left"></i>
                </button>

                <button class="scroll-btn" id="scroll-right">
                    <i class="fa-solid fa-chevron-right"></i>
                </button>
            </div>
        </div>

        <div class="produtos-scroll" id="produtos-scroll">

            {% for medicine in medicines %}
            <div class="produto-card">

                <span class="seta">›</span>

                {% if medicine.image %}
                    <img src="{{ medicine.image }}" alt="{{ medicine.name }}">
                {% else %}
                    <img src="{% static 'img/medicamento.png' %}" alt="Sem imagem">
                {% endif %}

                <h4>{{ medicine.name }}</h4>

                <div class="rodape-card">
                    <div>
                        <p>Valor</p>
                        <strong>R$ {{ medicine.price }}</strong>
                    </div>

                    <button>🛒</button>
                </div>

            </div>
            {% empty %}
                <p>Nenhum produto cadastrado.</p>
            {% endfor %}

        </div>

    </section>

</main>

<footer class="rodape-dashboard">
    <div class="logo-rodape">REMAZ <span>PHARM</span></div>

    <div class="links-rodape">
        <a href="#">Careers</a>
        <a href="#">Privacy Policy</a>
        <a href="#">Terms & Conditions</a>
    </div>
</footer>

<script>

    const perfilBtn = document.getElementById('perfil-btn');
    const menuDropdown = document.getElementById('menu-dropdown');

    perfilBtn.addEventListener('click', function() {
        menuDropdown.classList.toggle('ativo');
    });

    document.addEventListener('click', function(e) {
        if (!e.target.closest('.perfil-container')) {
            menuDropdown.classList.remove('ativo');
        }
    });

    // SCROLL DOS CARDS

    const scrollContainer = document.getElementById('produtos-scroll');

    document.getElementById('scroll-right').addEventListener('click', () => {
        scrollContainer.scrollBy({
            left: 350,
            behavior: 'smooth'
        });
    });

    document.getElementById('scroll-left').addEventListener('click', () => {
        scrollContainer.scrollBy({
            left: -350,
            behavior: 'smooth'
        });
    });

     // BANNER AUTOMÁTICO

    const banners = document.querySelectorAll('.banner');

    let bannerIndex = 0;

    function trocarBanner() {

        banners[bannerIndex].classList.remove('ativo');

        bannerIndex++;

        if (bannerIndex >= banners.length) {
            bannerIndex = 0;
        }

        banners[bannerIndex].classList.add('ativo');
    }

    setInterval(trocarBanner, 4000);

</script>

</script>

</body>

</html>